@model Evidence.Models.Action

@{
    ViewData["Title"] = "Delete";
}

<h3>Opravdu chcete odmazat tento záznam?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Zaměstnanec
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNavigation.Name)
        </dd>

        <dt class="col-sm-2">
            Projekt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectNavigation.Name)
        </dd>
        
        <dt class="col-sm-2">
            Datum Činnosti
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActionDate)
        </dd>

        <dt class="col-sm-2">
            Odpracováno hodin
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpentTime)
        </dd>

        <dt class="col-sm-2">
            Náklady (Kč)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>



    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Vymazat" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="Index">Zpět na seznam</a>
    </form>
</div>
