@model IEnumerable<Evidence.Models.Action>

@{
    ViewData["Title"] = "Index";
}

<div style="display: flex; justify-content: space-between;">
    <h2>Seznam vykázaných činností</h2>
    <p><a asp-action="Create" class="btn btn-primary">Nová činnost</a></p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editovat</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detaily</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Vymazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
